/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

/* Sections style */
@import url('./gallery.css');
@import url('./form.css');

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    margin: 0;
    background-color: #4a7efc;
}

h1 {
    font-size: 3em;
    font-style: italic;
    color: aliceblue;
}

.gallery-btn {
    padding: 10px;
    background-color: #3db667;
    border: 1px solid white;
    margin-bottom: 10px;
    color: white;
}

.form-btn {
    width: 100%;
    padding: 10px;
    background-color: #066843;
    border: 1px solid white;
    color: white;
}